

.wrap {
    display: block;
    margin-top: 7%;
    height: 300px;
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #FFFFFF;
}

.slide-header {
    height: 2.5em;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

.slide-header label {
    font-family: CoreSansA45ScriptLigth;
    height: 2.5em;
    width: 31.73%;
    display: inherit;
    float: left;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}

#slide-header-label-1{
    background: #09d263;
}

#slide-header-label-2{
    background: #2d2d2d;
}

#slide-header-label-3{
    background: #2d2d2d;
}

.slide-header label:hover {
    opacity: 0.9;
}



.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #ffffff;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
}

.slide-one {
    background-image: url(../img/slider-adv-Images/slide1.jpg)
}

.slide-two {
    background-image: url('../img/slider-adv-Images/slide2.jpg');
}
.slide-three {
    background-image: url('../img/slider-adv-Images/slide3.jpg');
}


.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}


[id^='slide']:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s .5s;
}

[id^='slide']:checked .
