
main{
    float: left;
    width: 60%;
    margin-left: 10%;
}

aside{
    display: block;
    height: 20px;
    float: left;
    width: 20%;
    margin-left: 5%;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}



.article{
    width: 100%;
    float: left;
    border-bottom: solid silver 1px;
    margin-bottom: 5%;

}

.article_img{
    width: 95%;
    float: left;
    padding-right: 5%;
    -ms-transition: all.1s ease;
    -o-transition: all.1s ease;
    -moz-transition: all.1s ease;
    -webkit-transition: all.1s ease;

}
.article_img:hover{
    opacity: 0.7;
    margin-bottom: 2%;
    -ms-transition: all.1s ease;
    -o-transition: all.1s ease;
    -moz-transition: all.1s ease;
    -webkit-transition: all.1s ease;
}
.article_right{
    width: 60%;
    float: right;
}
.article_left{
    width: 40%;
    height: 100%;
}
.article_heading{
    font-size: 140%;
    font-weight: normal;
    font-family: CoreSansA45Script;
}
.article_short_info{
    color:darkgray;
    font-size: 100%;
    font-family: CoreSansA45ScriptLigth;
}


.article_links{
    margin-top: 3%;
    margin-bottom: 2px;
}

.article_links a{
    font-size: 80%;
    font-family: CoreSansA45ScriptLigth;
    margin-right: 1%;
}

.article_links a:hover{
    color: black;
    cursor: pointer;
}
.article_topic{
    color: #ed1c24;
}

.article_date{
    color: darkgray;
}


.article_author{
    color: #09c662;
}
aside{
    height: 100%;
}


.main_buttton{
    width: 73%;
    height: 100%;
    background: #09c662;
    margin: 1%;
}
.main_buttton:hover{
    background: #09d263;
}
.main_buttton a{
    margin-left: 13%;
    color: white;
    font-family: IntroScript;
    font-size: 1.5em;
}

.main_buttton a:hover{
    margin-left: 11%;
    color: white;
    font-family: IntroScript;
    font-size: 1.6em;
}

@media (max-width: 700px) {
    aside{
        display: none;
    }
    main{
        width: 80%;
    }

    .article_img{
        display: none;
    }

    .article_right{
        width: 100%;
    }

    .article_left{
        display: none;
    }


}