#news{
    display: block;
}
main{
    float: left;
    width: 60%;
    margin-left: 10%;
    display: block;
}

aside{
    display: block;
    height: 100%;
    float: right;
    width: 30%;
    margin-right: 10%;
    transition: all.6s ease;
}

aside{
    width: 14%;
    margin-right: 10%;
    height: 100%;
}



/*------------------------- CТИЛИ ДЛЯ НОВОСТИ--------------------------------*/
.article-list-item{
    width: 100%;
    float: left;
    border-bottom: solid silver 1px;
    margin-bottom: 5%;
}

.article-list-item-img{
    z-index: 50;
    width: 95%;
    float: left;
    padding-right: 5%;
    margin-bottom: 2%;
    transition: all.1s ease;
}
.article-list-item-img:hover{
    opacity: 0.7;
    margin-bottom: 2%;
    transition: all.1s ease;
}
.article-list-item-right{
    width: 60%;
    float: left;
}
.article-list-item-left{
    float: left;
    width: 40%;
    height: 100%;
}
.article-list-item-title{
    font-size: 140%;
    font-weight: normal;
    font-family: CoreSansA45Script;
}

.article-list-item-title:hover{
    font-family: CoreSansA45Script;
    cursor: pointer;
    color: #09c662;
}

.article-list-item-summary{
    font-family: CoreSansA45ScriptLigth;
    color:darkgray;
    font-size: 100%;
}


.article-list-item-meta{
    margin-top: 3%;
    margin-bottom: 2px;
}

.article-list-item-meta a{
    font-size: 80%;
    margin-right: 1%;
}

.article-list-item-tags a{
}
.article-list-item-meta a:hover{
    color: black;
    cursor: pointer;
}
.article-list-item-topic{
    color: #ed1c24;
}

.article-list-item-date{
    color: darkgray;
}

.article-list-item-author{
    color: #09c662;
}
.add-article{
    display: none;
}



.main-button-label {
    margin-top: 2%;
    float: left;
    width: 100%;
    background: #09d263;
    border: 1px solid #09d263;
}

.main-button{
    background: #09d263;
    border: #09d263;
    color: white;
    font-family: IntroScript;
    font-size: 1.2em;
    width: 100%;
}

/* ---------------------------------------DETAILED----------------------------------------- */
.detailed-article-list-item{
    width: 100%;
    float: left;
}

.detailed-article-list-item-img{
    z-index: 50;
    width: 100%;
    float: left;
    margin-bottom: 2%;
    transition: all.1s ease;
}
.detailed-article-list-item-img:hover{
    opacity: 0.7;
    margin-bottom: 2%;
    transition: all.1s ease;
}
.detailed-article-list-item-right{
    padding-top: 2%;
    width:100%;
    float: left;
}
.detailed-article-list-item-left{
    border-bottom: solid silver 1px;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}
.detailed-article-list-item-title{
    font-size: 200%;
    float: left;
    font-weight: normal;
    font-family: CoreSansA45Script;
}

.detailed-article-list-item-title:hover{
    font-family: CoreSansA45Script;
    cursor: pointer;
    color: #09c662;
}

.detailed-article-list-item-summary{
    font-family: CoreSansA45ScriptLigth;
    color:darkgray;
    font-size: 100%;
}


.detailed-article-list-item-meta{
    float: left;
    width: 50%;
    margin-top: 2%;
}

.detailed-article-list-item-meta a{

    font-size: 80%;
    margin-right: 1%;
}

.detailed-article-list-item-edit-buttons{
    visibility: hidden;
    float: right;
    margin-top: 2%;
}

.detailed-article-list-item-edit-buttons a{
    font-size: 80%;
}


.detailed-article-list-item-tags a{
}
.detailed-article-list-item-meta a:hover{
    color: black;
    cursor: pointer;
}
.detailed-article-list-item-topic{
    color: #ed1c24;
}

.detailed-article-list-item-date{
    color: darkgray;
}

.detailed-article-list-item-author{
    color: #09c662;
}




/*---------------------------DETAILED-END-------------------------------------------------------*/

.search-bar{
    border: solid #cccccc 1px;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
}

.select-bar{
    font-family: CoreSansA45ScriptLigth;
    background-position: 95% 50%;
    margin-bottom: 2%;
    width: 100%;
    height: 20px;
}

.select-bar option {
    font-family: CoreSansA45ScriptLigth;
    background-color: transparent;
    border: 0;
    padding-right: 15px;
    height: 20px;
    width: 220px;
}

.pagination a:first-child{

    margin-left: 35%;
    font-size: 100%;
    padding-bottom: 2%;
}

.pagination a:hover{
    font-size: 100%;
    padding-bottom: 1%;
}
.pagination .main-button-label{
    width: 100%;
    height: 100%;
    border: 1px solid silver;
    margin-bottom: 2%;
}

.pagination .main-button{
    background-color: silver;
}

#current_page{
    color: #ed1c24;
}


/*--------------------------------------ADD-NEWS-FORM----------------------------------------*/

#add-news-block span{
    font-family: CoreSansA45ScriptLigth;
    font-size: 200%;
}

#add-news-block textarea{
    font-family: CoreSansA45ScriptLigth;
}

#add-news-block label{
    width: 40%;
}

#add-news-block{
    display: none;
    width: 100%;
    padding-top: 5%;
}


/*--------------------------------------ADD-NEWS-FORM-END--------------------------------------*/


/*--------------------------------------EDIT-NEWS-FORM----------------------------------------*/

#edit-news-block span{
    font-family: CoreSansA45ScriptLigth;
    font-size: 200%;
}

#edit-news-block textarea{
    font-family: CoreSansA45ScriptLigth;
}

#edit-news-block label{
    width: 40%;
}

#edit-news-block{
    display: none;
    width: 100%;
    padding-top: 5%;
}


/*--------------------------------------EDIT-NEWS-FORM-END--------------------------------------*/





@media (max-width: 700px) {
    aside{
        display: none;
    }
    main{
        width: 80%;
    }


    .article-list-item-right{
        width: 100%;
    }

    .article-list-item-left{
        display: none;
        width: 100%;
    }

    .detailed-article-list-item-meta a{
        font-size: 60%;
    }

    .detailed-article-list-item-edit-buttons{
        float: right;
        margin-top: 2%;
    }

    .detailed-article-list-item-edit-buttons a{
        font-size: 60%;
    }



    .detailed-article-list-item-title{
        font-size: 140%;
        float: left;
        font-weight: normal;
        font-family: CoreSansA45Script;
    }

    .detailed-article-list-item-left{
        width: 100%;
    }

    .detailed-article-list-item-right{
        width: 100%;
    }

    .wrap{
        display: none;
    }
}

#loginForm{
    display: none;
}